* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.banner {
  width: 100%;
  height: 246px;
  padding: 67px 369px 79px 367px;
}
.banner-title {
  width: 704px;
  height: 100px;
  font-weight: 400;
  font-size: 36px;
  line-height: 140%;
  color: #2a254b;
}
